body {
    background-color: #292929;
    font-family: 'Lexend Peta', sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-areas: 
    "giselly coracao oswaldo"              
}
